
.container {

    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.container-items{
    text-align: center;
    border-collapse: collapse;
    background-color: #DBF3F4;
    border: 1px solid #0D659D;
    width: 100%;
}
.bookitem{
    padding: 2px;;
    color: white;
    background-color: #2E3B3C;
    font-size: 0.4rem;;
}

.border{
  
    font-size: 0.6rem;;
}

.labeltxt{
    display: block;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 700;
    color: #DBF3F4;
}

