
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-items{
    text-align: center;
    border-collapse: collapse;
    background-color: #DBF3F4;
    border: 1px solid #0D659D;
    width: 100%;
}
.item{
    padding: 2px;;
    color: white;
    background-color: #2E3B3C;
    font-size: 0.4rem;;
}

.th{
    font-size: 0.6rem;;
}

.btnregistered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.labeltxt{
    display: block;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 700;
    color: #DBF3F4;
}

.addbook{
    height: 20px;
    width: 50px;;
    margin-left: 1vh;
}
